/* Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


/* footer Style */

.footer {
    background-color: #333;
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    position: fixed;
    bottom: 0;
}

.footer:hover {
    transform: translateY(5px);
}

.footer-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-menu a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-menu a:hover {
    color: #ffcc00;
}